@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@layer base {
  html {
    font-family: "Space Grotesk", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700 !important;
    line-height: 120% !important;
  }
}

@layer components {
  .paragraphSM {
    font-size: 18px;
    line-height: 150%;
  }

  .paragraphLG {
    font-size: 16px;
    line-height: 150%;
  }

  .label-txt {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
  }

  .rich-txt {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
  }

  .link-txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  .at-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 20px;
    background: #0066ff;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }

  .at-btn:hover {
    background: #0048b5;
  }

  .at-btn-outline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;
    border: 1px solid #e0e4fc;
    border-radius: 8px;
    font-weight: 500;
    line-height: 1.25;
    font-size: 16px;
    cursor: pointer;
  }

  .at-btn-outline img {
    width: 20px;
  }

  .at-btn-outline p {
    font-size: 10px;
  }

  .at-btn-outline h6 {
    font-size: 12px;
  }

  .at-btn-outline:hover {
    color: #ffffff;
    background: #1d2130;
    border: 1px solid #1d2130;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
}